$secondFontColor: rgb(59, 109, 107);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

main {

    .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        i {
            &:hover {
            color: $secondFontColor;
            cursor: pointer;
            }
        }
    }

    .currentWeather {
        padding: 30px 0;

        .basicInfo {
            i {
                padding: 10px;
            }
            p {
                font-size: calc(12px + 2vw);
                &:first-child {
                    font-size: calc(24px + 4vw);
                }
            }
        }

        .moreInfo {
            display: flex;
            justify-content: center;
            font-size: calc(10px + 1vw);
            margin: 60px 0;

            .temp {
                border: {
                    left: 3px solid white;
                    right: 3px solid white;
                };
                span {
                    color: $secondFontColor;
                    margin-left: 10px;
                }
            }

            div {
                width: 30%;
            }

            i {
                width: 100%;
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 800px) {
    main {
        width: 70vw;
        overflow: hidden;
        margin: 0 auto;
        font-size: calc(12px + 3vw);
        .currentWeather {
            display: flex;
            justify-content: space-around;
            .basicInfo,
            .moreInfo {
                align-items: center;
                margin: 0;
            }
            .basicInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                width: 40%;
                p {
                    font-size: calc(12px + 1vw);

                    &:first-child {
                        font-size: calc(24px + 3vw);
                    }
                }
            }
            .moreInfo {
                width: 60%;
            }
        }
    }
}

@media (max-height: 500px) {
    body {
        font-size: calc(12px + 2vw);

                .currentWeather {
                    display: flex;
                    justify-content: space-around;
                    padding: 5px;

                    .basicInfo {
                        width: 40%;
                        font-size: calc(12px + 2vw);
                    }

                    .moreInfo {
                        width: 60%;
                        margin: 10px auto;
                        align-items: center;
                        i {
                        font-size: calc(14px + 2vw);
                        }
                    }
                }
        };


}